<Configuration>
	<RECIBO_PADRAO_201013_FR3 CHECKBOX1_visible="1" CHECKBOX1_enabled="1" CHECKBOX1="1" COMBOBOX1_visible="1" COMBOBOX1_enabled="1" COMBOBOX1="0" GROUPBOX1_visible="1" GROUPBOX1_enabled="1" RADIOBUTTON1_visible="1" RADIOBUTTON1_enabled="1" RADIOBUTTON1="1" RADIOBUTTON2_visible="1" RADIOBUTTON2_enabled="1" RADIOBUTTON2="0" LABEL1_visible="1" LABEL1_enabled="1" EDIT1_visible="1" EDIT1_enabled="1" EDIT1="1932" EDIT2_visible="1" EDIT2_enabled="1" EDIT2="1932" DATEEDIT1_visible="0" DATEEDIT1_enabled="1" DATEEDIT1="10/09/2008" DATEEDIT2_visible="0" DATEEDIT2_enabled="1" DATEEDIT2="10/09/2008" EDIT3_visible="0" EDIT3_enabled="1" EDIT3="0" LABEL2_visible="1" LABEL2_enabled="1" DBLOOKUPCOMBOBOX2_visible="0" DBLOOKUPCOMBOBOX2_enabled="1" BITBTN1_visible="1" BITBTN1_enabled="1" LABEL9_visible="0" LABEL9_enabled="1" BITBTN2_visible="1" BITBTN2_enabled="1"/>
</Configuration>
